@import
  'normalize',
  'fonts',
  'mixins',
  'media',
  'variables',
  'utils',
  'globals';

@import
  './blocks/grid',
  './blocks/button',
  './blocks/burger-button',
  './blocks/header',
  './blocks/cross-button',
  './blocks/mobile-overlay',
  './blocks/section',
  './blocks/hero',
  './blocks/banner',
  './blocks/puddle-bg',
  './blocks/services',
  './blocks/service-card',
  './blocks/studies',
  './blocks/process',
  './blocks/team',
  './blocks/team-card',
  './blocks/pagination',
  './blocks/reviews',
  './blocks/review-card';